<main>
  <div class="content">
    <h1>Sumary</h1>
    <p>
      Software Developer able to effectively self-manage during independent projects, as well as collaborate as part of a productive team, 
      easily adapting to changes, self-taught and always looking to hone my skills and learn new ones.
    </p>
    <h2>Relevant Skills</h2>
    <div >
      <img src="../../assets/Data/img/logos/logo_vb.svg" width="35" > 
      <img src="../../assets/Data/img/logos/logo_C++.svg" width="30">  
      <img src="../../assets/Data/img/logos/logo_PHP.svg" width="40"> 
      <img src="../../assets/Data/img/logos/logo_javascript.svg" width="30"> 
      <img src="../../assets/Data/img/logos/logo_C-sharp.svg" width="30">
      <img src="../../assets/Data/img/logos/logo_java.svg" width="40"> 
      <img src="../../assets/Data/img/logos/logo_oracle.svg" width="50"> 
      <img src="../../assets/Data/img/logos/logo_postgresql.svg" width="50">
      <img src="../../assets/Data/img/logos/logo_sql-server.svg" width="50">
      <img src="../../assets/Data/img/logos/logo_mysql.svg" width="50">
    </div>
  </div>
</main> 