<main>
  <div class="content">
    <h1>👤 About me</h1>
    <p>
      Software Developer especially focused on backend development with C#, Java and transactional payment systems with C++, 
      able to effectively self-manage during independent projects, as well as collaborate as part of a productive team, 
      easily adapting to changes, self-taught and always looking to hone my skills and learn new ones.
    </p>
    <h1>⚡ Most used technologies</h1>
    <h2>🚀 Programming languages</h2>
    <div> 
      <img class="logos" src="https://img.shields.io/badge/C%23-7E4A8C?style=for-the-badge&logo=C%23&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/C%2B%2B-2161A8?style=for-the-badge&logo=C%2B%2B&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=java&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/pl-sql-BB421B?style=for-the-badge&logo=plsql&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E"> 
    </div>
    <h2>🚌 Databases</h2>
    <div> 
      <img class="logos" src="https://img.shields.io/badge/oracle-EE5424?style=for-the-badge&logo=oracle&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/Postgresql-346EB0?style=for-the-badge&logo=Postgresql&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/sqlserver-6C7682?style=for-the-badge&logo=microsoft-sql-server&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/MySQL-CC8A53?style=for-the-badge&logo=MySQL&logoColor=white"> 
    </div>
    <h2>📘 Frameworks</h2>
    <div> 
      <img class="logos" src="https://img.shields.io/badge/.NET-512BD4?style=for-the-badge&logo=dotnet&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white"> 
    </div>
    <h2>📘 Others ...</h2>
    <div> 
      <img class="logos" src="https://img.shields.io/badge/jenkins-CD6747?style=for-the-badge&logo=jenkins&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&logo=docker&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white"> 
      <img class="logos" src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white"> 
    </div>
  </div>
</main> 