<main class="main" id="contact">
  <div class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-8 fondo-1" >
          You can connect with me on my social networks
        </div>
        <div class="col-sm-12 col-md-4 fondo-2" >
          <a class="btn btn-lg" href="https://github.com/cgusosve" target="_blank" title="Github">
            <img class="img-logo"
            src="../../assets/Data/img/logos/github.svg" 
            alt="Github"> Github
          </a>
          
          <a class="btn btn-lg" href="https://wa.me/51991829122?text=Hola,%20Encontré%20tu%20contacto%20leyendo%20tu%20blog" target="_blank" title="WhasApp">
            <img class="img-logo"
            src="../../assets/Data/img/logos/whatsapp.svg" 
            alt="WhasApp"> WhasApp
          </a>
      
          <a class="btn btn-lg" href="tg://resolve?domain=nkdor" target="_blank" title="Telegram">
            <img class="img-logo"
            src="../../assets/Data/img/logos/telegram.svg" 
            alt="Telegram"> Telegram
          </a>
      
          <a class="btn btn-lg" href="mailto:gustavo.cgov@gmail.com " target="_blank" title="Gmail">
            <img class="img-logo"
            src="../../assets/Data/img/logos/gmail.svg" 
            alt="Gmail"> Gmail
          </a>
      
          <a class="btn btn-lg" href="https://www.linkedin.com/in/gustavo-osorio-7aa2904b" target="_blank" title="Linkedin">
            <img class="img-logo"
            src="../../assets/Data/img/logos/linkedin.svg" 
            alt="Linkedin"> Linkedin
          </a>
        </div>
      </div>
    </div>
    
  </div>
</main>

