<main class="main">
  <div class="content">
    <a class="btn btn-lg img_contact" href="https://github.com/cgusosve" target="_blank" title="Github">
      <img 
      src="../../assets/Data/img/logos/github.svg" 
      alt="Github">
      Github
    </a>
    <a class="btn btn-lg img_contact" href="https://wa.me/51991829122?text=Hola,%20Encontré%20tu%20contacto%20leyendo%20tu%20blog" target="_blank" title="WhasApp">
      <img 
      src="../../assets/Data/img/logos/whatsapp.svg" 
      alt="WhasApp">
    </a>

    <a class="btn btn-lg img_contact" href="tg://resolve?domain=nkdor" target="_blank" title="Telegram">
      <img 
      src="../../assets/Data/img/logos/telegram.svg" 
      alt="Telegram">
    </a>

    <a class="btn btn-lg img_contact" href="mailto:gustavo.cgov@gmail.com " target="_blank" title="Gmail">
      <img 
      src="../../assets/Data/img/logos/gmail.svg" 
      alt="Gmail">
    </a>

    <a class="btn btn-lg img_contact" href="https://www.linkedin.com/in/gustavo-osorio-7aa2904b" target="_blank" title="Linkedin">
      <img 
      src="../../assets/Data/img/logos/linkedin.svg" 
      alt="Linkedin">
    </a>
  </div>
</main>
