<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <img class="avatar mat-elevation-z8" src="../../assets/Data/img/profile.jpeg" alt="image">
    <h4 class="name">Gustavo Osorio</h4>
    <p class="designation">Software Engineer</p>
    <mat-divider></mat-divider>
    
    <mat-nav-list>
      <a mat-button class="menu-buttom" href="#home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button class="menu-buttom" href="#aboutme">
        <mat-icon>account_circle</mat-icon>
        <span>About me</span>
      </a>
      <a mat-button class="menu-buttom" href="#experience">
        <mat-icon>assignment</mat-icon>
        <span>Experience</span>
      </a>
      <a mat-button class="menu-buttom" href="#contact">
        <mat-icon>forum</mat-icon>
        <span>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <app-home></app-home>
  <app-aboutme></app-aboutme>
  <app-experience></app-experience>
  <app-contact></app-contact>
</mat-sidenav-container>
